# Created by .ignore support plugin (hsz.mobi)
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
*.lcov
.nyc_output
.grunt
bower_components
.lock-wscript
build/Release
node_modules/
jspm_packages/
web_modules/
*.tsbuildinfo
.npm
.eslintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.node_repl_history
*.tgz
.yarn-integrity
.env
.env.test
.cache
.parcel-cache
.next
out
.nuxt
dist
.cache/
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
cmake-build-*/
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/httpRequests
.idea/caches/build_file_checksums.ser
/react-nodebird.pem
uploads/
sleact-master.zip
alecture/.eslintrc
alecture/.prettierrc
alecture/client.tsx
alecture/index.html
alecture/package-lock.json
alecture/package.json
alecture/tsconfig-for-webpack-config.json
alecture/tsconfig.json
alecture/webpack.config.ts
alecture/components/ChannelList/index.tsx
alecture/components/Chat/index.tsx
alecture/components/Chat/styles.tsx
alecture/components/ChatBox/index.tsx
alecture/components/ChatBox/styles.tsx
alecture/components/ChatList/index.tsx
alecture/components/ChatList/styles.tsx
alecture/components/CreateChannelModal/index.tsx
alecture/components/DMList/index.tsx
alecture/components/DMList/styles.tsx
alecture/components/InviteChannelModal/index.tsx
alecture/components/InviteWorkspaceModal/index.tsx
alecture/components/Menu/index.tsx
alecture/components/Menu/styles.tsx
alecture/components/Modal/index.tsx
alecture/components/Modal/styles.tsx
alecture/hooks/useInput.ts
alecture/hooks/useSocket.ts
alecture/layouts/App/index.tsx
alecture/layouts/Workspace/index.tsx
alecture/layouts/Workspace/styles.tsx
alecture/pages/Channel/index.tsx
alecture/pages/Channel/styles.tsx
alecture/pages/DirectMessage/index.tsx
alecture/pages/DirectMessage/styles.tsx
alecture/pages/LogIn/index.tsx
alecture/pages/LogIn/styles.tsx
alecture/pages/SignUp/index.tsx
alecture/pages/SignUp/styles.tsx
alecture/typings/db.ts
alecture/utils/fetcher.ts
alecture/utils/makeSection.ts
setting/js/.eslintrc
setting/js/.prettierrc
setting/js/client.jsx
setting/js/index.html
setting/js/package-lock.json
setting/js/package.json
setting/js/webpack.config.js
setting/js/layouts/App.jsx
setting/ts/.eslintrc
setting/ts/.prettierrc
setting/ts/client.tsx
setting/ts/index.html
setting/ts/package-lock.json
setting/ts/package.json
setting/ts/tsconfig-for-webpack-config.json
setting/ts/tsconfig.json
setting/ts/webpack.config.ts
setting/ts/layouts/App.tsx
setting/ts/typings/db.ts
nest-typeorm/.eslintrc.js
nest-typeorm/.prettierrc
nest-typeorm/nest-cli.json
nest-typeorm/ormconfig.ts
nest-typeorm/package-lock.json
nest-typeorm/package.json
nest-typeorm/README.md
nest-typeorm/tsconfig.build.json
nest-typeorm/tsconfig.json
nest-typeorm/webpack-hmr.config.js
nest-typeorm/public/67.js
nest-typeorm/public/319.js
nest-typeorm/public/608.js
nest-typeorm/public/608.js.LICENSE.txt
nest-typeorm/public/678.js
nest-typeorm/public/695.js
nest-typeorm/public/753.js
nest-typeorm/public/app.js
nest-typeorm/public/app.js.LICENSE.txt
nest-typeorm/public/index.html
nest-typeorm/public/report.html
nest-typeorm/src/app.controller.spec.ts
nest-typeorm/src/app.controller.ts
nest-typeorm/src/app.module.ts
nest-typeorm/src/app.service.ts
nest-typeorm/src/http-exception.filter.ts
nest-typeorm/src/main.ts
nest-typeorm/src/ormconfig.ts
nest-typeorm/src/auth/auth.module.ts
nest-typeorm/src/auth/auth.service.spec.ts
nest-typeorm/src/auth/auth.service.ts
nest-typeorm/src/auth/local-auth.guard.ts
nest-typeorm/src/auth/local.serializer.ts
nest-typeorm/src/auth/local.strategy.ts
nest-typeorm/src/auth/logged-in.guard.ts
nest-typeorm/src/auth/not-logged-in.guard.ts
nest-typeorm/src/channels/channels.controller.spec.ts
nest-typeorm/src/channels/channels.controller.ts
nest-typeorm/src/channels/channels.module.ts
nest-typeorm/src/channels/channels.service.spec.ts
nest-typeorm/src/channels/channels.service.ts
nest-typeorm/src/channels/dto/create-channel.dto.ts
nest-typeorm/src/database/seeds/create-initial-data.ts
nest-typeorm/src/decorators/user.decorator.ts
nest-typeorm/src/dms/dms.controller.spec.ts
nest-typeorm/src/dms/dms.controller.ts
nest-typeorm/src/dms/dms.module.ts
nest-typeorm/src/dms/dms.service.spec.ts
nest-typeorm/src/dms/dms.service.ts
nest-typeorm/src/entities/ChannelChats.ts
nest-typeorm/src/entities/ChannelMembers.ts
nest-typeorm/src/entities/Channels.ts
nest-typeorm/src/entities/DMs.ts
nest-typeorm/src/entities/Mentions.ts
nest-typeorm/src/entities/Users.ts
nest-typeorm/src/entities/WorkspaceMembers.ts
nest-typeorm/src/entities/Workspaces.ts
nest-typeorm/src/events/events.gateway.ts
nest-typeorm/src/events/events.module.ts
nest-typeorm/src/events/onlineMap.ts
nest-typeorm/src/middlewares/frontend.middleware.ts
nest-typeorm/src/middlewares/logger.middleware.ts
nest-typeorm/src/users/users.controller.spec.ts
nest-typeorm/src/users/users.controller.ts
nest-typeorm/src/users/users.module.ts
nest-typeorm/src/users/users.service.spec.ts
nest-typeorm/src/users/users.service.ts
nest-typeorm/src/users/dto/join.request.dto.ts
nest-typeorm/src/users/dto/login.request.dto.ts
nest-typeorm/src/workspaces/workspaces.controller.spec.ts
nest-typeorm/src/workspaces/workspaces.controller.ts
nest-typeorm/src/workspaces/workspaces.module.ts
nest-typeorm/src/workspaces/workspaces.service.spec.ts
nest-typeorm/src/workspaces/workspaces.service.ts
nest-typeorm/src/workspaces/dto/create-workspace.dto.ts
nest-typeorm/test/app.e2e-spec.ts
nest-typeorm/test/jest-e2e.json
