# Created by .ignore support plugin (hsz.mobi)
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
*.lcov
.nyc_output
.grunt
bower_components
.lock-wscript
build/Release
node_modules/
jspm_packages/
web_modules/
*.tsbuildinfo
.npm
.eslintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.node_repl_history
*.tgz
.yarn-integrity
.env
.env.test
.cache
.parcel-cache
.next
out
.nuxt
dist
.cache/
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
.vscode-test
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
cmake-build-*/
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/httpRequests
.idea/caches/build_file_checksums.ser
/react-nodebird.pem
uploads/
sleact-master.zip
alecture/.eslintrc
alecture/.prettierrc
alecture/client.tsx
alecture/index.html
alecture/package-lock.json
alecture/package.json
alecture/tsconfig-for-webpack-config.json
alecture/tsconfig.json
alecture/webpack.config.ts
alecture/components/ChannelList/index.tsx
alecture/components/Chat/index.tsx
alecture/components/Chat/styles.tsx
alecture/components/ChatBox/index.tsx
alecture/components/ChatBox/styles.tsx
alecture/components/ChatList/index.tsx
alecture/components/ChatList/styles.tsx
alecture/components/CreateChannelModal/index.tsx
alecture/components/DMList/index.tsx
alecture/components/DMList/styles.tsx
alecture/components/InviteChannelModal/index.tsx
alecture/components/InviteWorkspaceModal/index.tsx
alecture/components/Menu/index.tsx
alecture/components/Menu/styles.tsx
alecture/components/Modal/index.tsx
alecture/components/Modal/styles.tsx
alecture/hooks/useInput.ts
alecture/hooks/useSocket.ts
alecture/layouts/App/index.tsx
alecture/layouts/Workspace/index.tsx
alecture/layouts/Workspace/styles.tsx
alecture/pages/Channel/index.tsx
alecture/pages/Channel/styles.tsx
alecture/pages/DirectMessage/index.tsx
alecture/pages/DirectMessage/styles.tsx
alecture/pages/LogIn/index.tsx
alecture/pages/LogIn/styles.tsx
alecture/pages/SignUp/index.tsx
alecture/pages/SignUp/styles.tsx
alecture/typings/db.ts
alecture/utils/fetcher.ts
alecture/utils/makeSection.ts
setting/js/.eslintrc
setting/js/.prettierrc
setting/js/client.jsx
setting/js/index.html
setting/js/package-lock.json
setting/js/package.json
setting/js/webpack.config.js
setting/js/layouts/App.jsx
setting/ts/.eslintrc
setting/ts/.prettierrc
setting/ts/client.tsx
setting/ts/index.html
setting/ts/package-lock.json
setting/ts/package.json
setting/ts/tsconfig-for-webpack-config.json
setting/ts/tsconfig.json
setting/ts/webpack.config.ts
setting/ts/layouts/App.tsx
setting/ts/typings/db.ts
